BASE_URL=http://localhost:5173
PORT=3000
NODE_ENV=development

MONGO_DB_URL=mongodb:example
DB_USER=db_user
DB_PASSWORD=db_password

JWT_ACCESS_KEY=jwt_access_key
JWT_REFRESH_KEY=jwt_refresh_key

ADMIN_SECRET_KEY=admin_secret_key

CLOUDINARY_CLOUD_NAME=cloud_name
CLOUDINARY_API_KEY=cloudinary_api_key
CLOUDINARY_API_SECRET=cloudinary_api_secret